<html>
    <head>
        <link href="assets/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <h1>
            hi
        </h1>

        <form method="post" action="/api/person">
            first name:
            <input type="text" id="firstname" name="firstname" /><br/>
            last name:
            <input type="text" id="lastname" name="lastname" /><br/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
